body {
  font-family: "Poppins", sans-serif;
  background-image: url(./assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;

}

.appContainer {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.cardContainer {
  width: 100%;
  max-width: 800px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ant-card-head {
  background-color: #f0f2f5;
  border-bottom: 1px solid #d9d9d9;
}

.ant-collapse-header {
  font-weight: bold;
}

.ant-radio-group {
  display: flex;
  gap: 10px;
}

.ant-btn-primary {
  background-color: #172b4d;
  border-color: #172b4d;
}

.ant-collapse-content-box {
  background-color: rgba(215, 215, 96, 0.518);

}

.ant-collapse-expand-icon {
  color: #fff;
}

p {
  font-size: 16px;
  font-weight: 500;
}

.ant-collapse-header {
  background-color: #172b4d;

}

.ant-collapse-header-text {
  color: #fff;
}